:host {
  display: block;

  --skeleton-background: #dddddd;
}

.container {
  position: relative;
}

.face img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 10px;
  left: 0;
  top: 0;
  bottom: 10px;
}

.image-cover {
  object-fit: cover;
}

.initials span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  margin: auto;
  font-family: roboto, arial;
  font-weight: 600;
  // font-size: 4vw;
  color: white;
}

.skeleton-loading {
  cursor: progress;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(var(--skeleton-background), var(--skeleton-background)),
    radial-gradient(38px circle at 19px 19px, var(--skeleton-background) 50%, transparent 51%),
    linear-gradient(var(--skeleton-background), var(--skeleton-background));
  // background-repeat: no-repeat;
  // background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
  // background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
